<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullpage.min.css') }}" />

    <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "easeInOutCubic". -->
    <script src="{{ url_for('static', filename='js/easings.min.js') }}"></script>

    <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
    <!-- <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script> -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/fullpage.js') }}"></script>

    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-ease.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-selection.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-transition.v1.min.js"></script>
    <script src="https://d3js.org/d3-drag.v1.min.js"></script>
    <script src="https://d3js.org/d3-zoom.v1.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <title>{{ title }}</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            <a class="navbar-brand" href="#">Isaac Underwood</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('inspiration') }}">Inspiration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Visualisation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="fullpage">
        <div class="section header-landing" id="top">
            <div class="d-flex align-items-center justify-content-center">
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-12 mx-auto typewriter">
                            <h1 class="font-weight-bold">Welcome.</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-lg btn-outline-info text-uppercase font-weight-bold text-snow" href="{{ url_for('inspiration') }}">View Inspiration &#8594;</a>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-lg btn-outline-info text-uppercase font-weight-bold text-snow" href="#visualisation">See the Visualisation 	&#8595;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="test-d3">
            <!-- <div class="d-flex align-items-center justify-content-center" id="visualisation">
                <div class="container-fluid text-center">
                    <button id="testButton">Click for Test</button>

                    
                </div>
            </div> -->
            <div class="container">
                <h1 class="text-center">Visualisation</h1>
                <div class="vis-container text-center mx-auto">
                    <button class="btn btn-outline-success" id="animation-start">Show Visualisation</button>
                    <h5 class="mt-2" id="current-year">Year:</h5>
                    <div class="form-inline">
                        <div class="col-6 form-group row">
                            <label class="col-form-label p-2" for="ydata">Y-Axis Data:</label>
                            <select class="form-control" name="ydata" id="y-data-select">
                                <option value="armed_forces_personnel_total">Armed Forces Personnel (Total)</option>
                                <option value="military_expenditure_percent_of_gdp">Military Expenditure (% of GDP)</option>
                            </select> 
                        </div>
                    </div>
                    
                                
                </div>
            </div>
            
            <svg id="vis"></svg>
            <!-- <button id="testButton">Click for Test</button> -->
            
            <!-- <input type="range" min="1800" max="2050" id="nRadius">
            <p id="nRadius-value"></p> -->
            
            
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        new fullpage('#fullpage', {
            //options here
            autoScrolling: true,
            scrollBar: true,
            scrollHorizontally: false,
            css3: true,
            scrollOverflow: false,
            anchors: ['top', 'visualisation'],
            paddingTop: '63px',
            fixedElements: 'nav, .navbar',
        });
    </script>
</body>

</html>